<h1>Utilization Report for <span style="color: darkblue;">{{AccountName}}</span> from {{DateFrom}} to {{DateTo}}:</h1>
<p style="font-size: 16px;"><b>Total spent time:</b> {{TotalSpentTime}} hours</p>
<p style="font-size: 16px;"><b>Project time:</b> {{ProjectTime}} hours (<span style="font-weight: bold;">{{ProjectTimePercentage}}%</span>)</p>
<p style="font-size: 16px;"><b>Vacation time:</b> {{VacationTime}} hours (<span style="font-weight: bold;">{{VacationTimePercentage}}%</span>)</p>
<p style="font-size: 16px;"><b>Bench time:</b> {{BenchTime}} hours (<span style="font-weight: bold;">{{BenchTimePercentage}}%</span>)</p>
